.showwrite .title {
    text-align: center;
}

.showwrite .td {
    width: 150px;
}

.list .img {
    margin-right: 10px;
}

.list .place {
    display: flex;
}

.list .event {
    display: flex;
}

.list .date {
    display: flex;
}

.list .love {
    display: flex;
}

.write {
    display: flex;
    flex-direction: column;
}

.write .input {
    margin-bottom: 15px;
}