.showwrite .title {
  text-align: center;
}

.showwrite .td {
  width: 150px;
}

.list .img {
  margin-right: 10px;
}

.list .place {
  display: flex;

  p {
    margin-right: 100px;
  }
}

.list .event {
  display: flex;

  p {
    margin-right: 100px;
  }
}

.list .date {
  display: flex;

  p {
    margin-right: 100px;
  }
}

.list .love {
  display: flex;

  p {
    margin-right: 100px;
  }
}

.write {
  display: flex;
  flex-direction: column;
}

.write .input {
  margin-bottom: 15px;
}
